{% extends 'index.html' %}
{% block title %} Hospital Status {% endblock %}
{%  block head %}
<style>
    .tb{
        border: 2px solid black;
        margin: auto;
        width: 800px;
        /* margin-left: 33px;
        margin-top: 20px; */
        background-color: rgb(212, 211, 207);
        grid-row: 1 / span 2;
    }

.thead{
    color: black;
    font-size: medium;
    font-weight: 700;

}
table,th,td{
    border: 4px solid black;
  
}

.second{
    margin-top: 20px;
    margin-left: 60px;
    color: rgb(38, 38, 37);
    font-size: 40px;
    font-weight: 500;


}


</style>
{% endblock %}
{% block body %} 


<p class="second">Ventilators Status</p>

<table class="tb" >
    <tr class="trow">
        <th class="thead"> DATE </th>
        <th class="thead">HOSPITAL NAME</th>
        <th class="thead">TOTAL VENTILATORS</th>
        <th class="thead">AVAILABLE VENTILATORS</th>
    </tr>
    {% for item in venti %}
    <tr>
        <td class="tcol">{{item.date}}</td>
        <td class="tcol">{{item.name}}</td>
        <td class="tcol">{{item.total}}</td>
        <td class="tcol">{{item.available}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
